---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import VisualFeature from "../components/VisualFeature.astro";
import Projects from "../components/Projects.astro";
import Process from "../components/sections/Process.astro";
import Planning from "../components/sections/Planning.astro";
import PriceTable from "../components/sections/PriceTable.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import Faq from "../components/sections/Faq.astro";
import GetInTouch from "../components/sections/GetInTouch.astro";

const title =
  "Jasa Bore Pile Profesional & Terpercaya | Hadiwijaya Bore Pile";
const description =
  "Hadiwijaya Bore Pile adalah kontraktor spesialis jasa bore pile di Indonesia. Kami menawarkan solusi pondasi bore pile manual, mini crane, hingga hydraulic dengan harga kompetitif. Melayani pondasi strauss pile untuk semua skala proyek.";
const keywords = [
  "jasa bore pile",
  "kontraktor bore pile terpercaya",
  "harga jasa bore pile per meter",
  "pondasi bore pile",
  "bore pile manual",
  "strauss pile",
  "bore pile mini crane",
  "bore pile hydraulic",
  "jasa pondasi dalam",
  "pondasi gedung bertingkat",
  "pondasi rumah tinggal",
  "solusi pondasi proyek konstruksi",
  "metode pelaksanaan bore pile",
  "pengeboran kering",
  "pengeboran basah",
  "pengeboran slurry",
  "biaya bore pile",
  "kontraktor pondasi Indonesia",
  "jasa bore pile Semarang",
  "jasa bore pile Yogyakarta",
  "jasa bore pile Solo"
];
---

<Layout title={title} description={description} keywords={keywords}>
  <div itemscope itemtype="https://schema.org/ProfessionalService">
    <meta itemprop="name" content="Hadiwijaya Bore Pile" />
    <meta itemprop="image" content="https://hadiwijayaborepile.com/src/assets/img/hbp-logo.png" />
    <meta itemprop="url" content="https://hadiwijayaborepile.com/" />
    <meta itemprop="telephone" content="+628122532442" />
    <meta itemprop="priceRange" content="Rp 500,000 - Rp 10,000,000" />
    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      <meta itemprop="streetAddress" content="Jl. Kyai Mukmin No.6" />
      <meta itemprop="addressLocality" content="Semarang" />
      <meta itemprop="postalCode" content="50249" />
      <meta itemprop="addressCountry" content="ID" />
    </div>
    <div itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
      <meta itemprop="latitude" content="-7.0175" />
      <meta itemprop="longitude" content="110.4198" />
    </div>
    <div itemprop="openingHoursSpecification" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
      <meta itemprop="dayOfWeek" content="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']" />
      <meta itemprop="opens" content="00:00" />
      <meta itemprop="closes" content="23:59" />
    </div>
    <link itemprop="sameAs" href="https://www.facebook.com/hadiwijayaborepile" />
    <link itemprop="sameAs" href="https://www.instagram.com/hadiwijayaborepile" />

    <Hero slot="hero" />
    <VisualFeature />
    <Projects />
    <Process />
    <Planning />
    <PriceTable />
    <WhyUs />
    <Faq />
    <GetInTouch />
  </div>
</Layout>

<style>
  .homepage-map {
    padding-top: 5rem;
  }
</style>
