---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<ViewTransitions />
	</head>
	<body>

		<Header/>

		<slot name="hero" />

		<main>
			<slot/>
		</main>

		<Footer />

	</body>
</html>

<style is:global>
	:root {
		--primary-color: #FF6B00;
		--secondary-color: #222A7A;
		--background-color: #f8f9fa;
		--text-color: #333;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--background-color);
	}

	body {
		margin: 0;
		overflow-x: hidden; /* Prevent horizontal scroll */
	}

	main {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2rem;
	}

	/* Global styles for sections */
	section {
		padding-top: 5rem;
		padding-bottom: 5rem;
		text-align: center;
	}

	main section:not(.final-cta) h2 {
		font-size: 2.8rem;
		color: var(--secondary-color);
		margin-bottom: 3rem;
	}
</style>
